:root {
  --red: #FF3131;
  --gray: #6e6e6e;
  --darkgray: #2b2b2b;
  --lightgray: #f2f2f2;
}
/* .header-container {
  display: flex;
}
*/
.padding-top {
  padding-top: 115px;
}
.padding-bottom {
  padding-bottom: 115px;
}
.pl90 {
  padding-left: 90px;
}
.pr90 {
  padding-right: 90px;
}
*, *:before, *:after {
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
  margin:0;
  padding:0
 }
 body{
  background:#fff;
  font-size:16px;
  color:#fff
 }
h1, h2, h3, h4, h5, h6, p, a, span {
  font-family: 'Roboto', sans-serif !important;
  color: #2B2B2B;
}
h1 {
  margin-bottom: 20px;
  line-height: 1.2;
  font-size: clamp(30px, 4vw, 60px);
  font-weight: 900;
}
h2 {
  margin-bottom: 15px;
  line-height: 1.2;
  font-size: clamp(30px, 4vw, 48px);
  font-weight: 900;
}
.text-center {
  text-align: center;
}
h3 {
  margin-bottom: 15px;
  line-height: 1.2;
  font-size: clamp(20px, 3vw, 24px);
  font-weight: 900;
}
p, .eyebrow {
  margin-bottom: 15px;
  line-height: 1.5;
}
p:not(.hero p) {
  color: #2B2B2B;
}
.eyebrow {
  text-transform: uppercase;
  font-weight: 400;
}
.max-width {
  max-width: 1400px;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}
.text-red {
  color: var(--red);
}
/* hero */
.hero {
  height: 100vh;
  max-height: 900px;
  min-height: 820px;
  position: relative;
  background-image: url(./img/hero-img.webp);
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(315deg, rgba(0, 0, 0, 0.74) 0%, rgba(0, 0, 0, 0.74) 74%);
}
.hero-content {
  position: relative;
  z-index: 5;
  max-width: 90%;
  margin-top: 45px;
  margin-left: auto;
  margin-right: auto;
}
.hero-content p {
  font-size: 20px;
  font-weight: 500;
}
.btn-group {
  display: flex;
  column-gap: 30px;
}
.hero .btn-group {
  margin-top: 30px;
}
.btn {
  border: 2px solid var(--red);
  padding: 14px 20px;
  min-width: 200px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
}
.btn-red {
  background-color: var(--red);
  color: #fff;
}
.btn-transparent {
  background-color: transparent;
}
.btn-light {
  background-color: #fff;
  color: #2B2B2B;
  border: 2px solid #fff;
}
/* services */
.services h3 {
  font-size: 30px;
}
.service-item img {
  width: 100%;
}
.service-item.img-right .img-container {
  background: url(img/roof.webp);
  background-size: cover;
  background-position: center center;
}
.service-item.img-left .img-container {
  background: url(img/pipe.webp);
  background-size: cover;
  background-position: center center;
}
.service-item {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-gap: 90px;
}
.service-item .img-container {
  position: relative;
}
.service-item.img-right .img-container:before {
  content: '';
  background: url(./img/good.webp);
  display: block;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: -20px;
  left: 20px;
  z-index: -1;
}
.service-item.img-right .img-container:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: -20px;
  left: 20px;
  background: var(--red);
  opacity: .9;
  z-index: -1;
}
.service-item.img-left .img-container:before {
  content: '';
  background: url(./img/good.webp);
  display: block;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: -20px;
  left: -20px;
  z-index: -1;
}
.service-item.img-left .img-container:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: -20px;
  left: -20px;
  background: var(--red);
  opacity: .9;
  z-index: -1;
}
/* .service-item.img-right img {
  box-shadow: -9px 14px 45px rgba(0, 0, 0, 0.21) !important;
}
.service-item.img-left img {
  box-shadow: 9px 14px 45px rgba(0, 0, 0, 0.21);
}
*/
.service-item:first-of-type {
  padding-top: 30px;
  padding-bottom: 100px;
}
/* .service-item-img {
  width: 100%;
  background-size: cover;
  background-position: center center;
}
.service-item-img.roofs {
  background-image: url(img/roof.webp);
}
.service-item-img.gutters {
  background-image: url(img/gutters.webp);
}
*/
.service-item:nth-child(even) .img-container {
  order: 1 !important;
}
.lines-left, .lines-right {
  position: relative;
}
.lines-left:before {
  content: '';
  position: absolute;
  background: var(--red);
  width: 50px;
  height: 2.1px;
  left: -79px;
  top: 20px;
}
.lines-left:after {
  content: '';
  position: absolute;
  background: var(--red);
  width: 31px;
  height: 2px;
  left: -60px;
  top: 29px;
}
.lines-right:before {
  content: '';
  position: absolute;
  background: var(--red);
  width: 50px;
  height: 2.1px;
  right: -79px;
  top: 20px;
}
.lines-right:after {
  content: '';
  position: absolute;
  background: var(--red);
  width: 31px;
  height: 2px;
  right: -60px;
  top: 29px;
}
.btn-topspacing {
  margin-top: 38px;
}
/* values */
.values .col-3 {
  margin-top: -100px;
}
.col-3 {
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  grid-gap: 45px;
}
.col3-col {
  background-color: #fff;
  padding: 30px;
  box-shadow: 0 14px 45px rgba(0, 0, 0, 0.21);
  position: relative;
  z-index: 2;
}
.values ion-icon {
  color: var(--red);
  font-size: 38px;
}
.values .col3-col {
  display: flex;
  flex-flow: column;
  align-items: center;
}
.values .col3-col * {
  text-align: center;
}
.values .col-3 h3 {
  margin-top: 20px;
}
.decoration-line-flex {
  display: flex;
  justify-content: center;
}
.decoration-line {
  width: 80%;
  background-color: var(--red);
  height: 9px;
  position: absolute;
  top: -9px;
}
.icon-container {
  background-color: #ebebeb;
  width: 72px;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

/* footer */

footer {
  background-color: var(--lightgray);
  padding-top: 90px;
}

footer .logo-col {
  max-width: 250px;
}

.footer-flex {
  display: flex;
  justify-content: space-between;
  padding-bottom: 90px;
}

.footer-col {
  display: flex;
  flex-flow: column;
}

.footer-col a {
  margin-bottom: 9px;
  transition: all 0.3s ease;
  border-bottom: 1px solid transparent;
  max-width: fit-content;
  padding-bottom: 2px;
}

.footer-col a:hover {
  color: var(--red);
  border-bottom: 1px solid var(--red);
}

footer h4 {
  font-size: 22px;
  margin-bottom: 18px;
}

.footer-copyright-container {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #e1e1e1;
}

.footer-copyright p {
  margin-bottom: 0;
  text-align: center;
}


/* navbar */
.top-nav {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
  padding: 10px 0;
  z-index: 99999;
}
.top-nav-flex {
  display: flex;
  justify-content: flex-end;
  column-gap: 45px;
}
.top-nav-link {
}
.nav-scrolling {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  top: 0 !important;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1) !important;
  border-top: none !important;
  transition: all 0.5s ease;
}
.topnav-scrolling {
  transition: all 0.5s ease;
  top: -40px !important;
}
.text-light *:not(.btn, .text-red) {
  color: #e5e5e5 !important;
}
.text-dark *:not(.btn, .text-red) {
  color: #333;
}

a{
 text-decoration:none;
}
#header a, .top-nav a {
  color: #333 !important;
}
#header{
 background:#fff;
 width:100%;
 position:relative;
  padding: 20px 0;
  position: fixed;
  top: 38.5px;
  box-shadow: none;
  border-top: 0.1px solid #d1d1d1;
  z-index: 999999999;
}
.header-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* #header:after{
 content:"";
 clear:both;
 display:block
}
*/
.search{
 float:right;
 padding:30px
}
input{
 border:none;
 padding:10px;
 border-radius:20px
}

nav{
 float:right;
}
nav>ul{
 float:left;
 position:relative
}
nav li{
 list-style:none;
 float:left
}
nav .dropdown{
 position:relative
}
nav li a{
 float:left;
 padding:10px 20px;
}

nav li li a{
 float:none;
 color:#333;
 display:block;
 padding:8px 10px;
 border-radius:3px;
 font-size:13px
}
nav li li a:hover{
 background:#bdc3c7;
 background:#FAFBFB
}
nav li a:not(.dropdown ul li a) {
  font-weight: 700;
  text-transform: uppercase;
}
nav li ul{
 display:none
}
nav li:hover ul{
 display:inline
}
nav li li{
 float:none
}
nav .dropdown ul{
 position:absolute;
 left:0;
 top:100%;
 background:#fff;
 padding:15px 0 10px 0;
 border-bottom:3px solid #34495e
}
nav .dropdown li{
 white-space:nowrap
}
nav .dropdown li a{
 padding:10px 20px;
 font-size:14px;
 min-width:200px
}
nav .mega-dropdown{
 width:100%;
 position:absolute;
 top:100%;
 left:0;
 background:#fff;
 overflow:hidden;
 padding:20px 35px;
 border-bottom:3px solid #34495e
}
.mega-col{
 width:25%;
 float:left
}
#menu-icon{
 position:absolute;
 right:0;
 top:50%;
 margin-top:-12px;
 margin-right:30px;
 display:none
}
#menu-icon span{
 border:2px solid #333;
 width:30px;
 margin-bottom:5px;
 display:block;
 -webkit-transition:all .2s;
 transition:all .1s
}
.logo img {
  max-width: 250px;
}
@media only screen and (min-width: 960px) {
  nav{
     display:block!important
 }
}
@media only screen and (max-width: 959px) {
  #header, .nav-scrolling {
      transition: all 0.5s ease;
 }
  .header-flex {
      flex-flow: column;
      align-items: flex-start;
 }
  nav{
     display:none;
     width:100%;
     clear:both;
     float:none;
     max-height:400px;
     overflow-y:scroll
 }
  #menu-icon{
     display:inline;
     top:45px;
     cursor:pointer
 }
  #menu-icon.active .first{
     transform:rotate(45deg);
     -webkit-transform:rotate(45deg);
     margin-top:10px
 }
  #menu-icon.active .second{
     transform:rotate(135deg);
     -webkit-transform:rotate(135deg);
     position:relative;
     top:-9px;
 }
  #menu-icon.active .third{
     display:none
 }
  .search{
     float:none
 }
  .search input{
     width:100%
 }
  nav{
     padding:10px
 }
  nav ul{
     float:none
 }
  nav li{
     float:none
 }
  nav ul li a{
     float:none;
     padding:8px;
     display:block
 }
  #header nav ul ul{
     display:block;
     position:static;
     background:none;
     border:none;
     padding:0
 }
  #header nav a{
     color:#fff;
     padding:8px
 }
  #header nav a:hover{
     background:#fff;
     color:#333;
     border-radius:3px
 }
  #header nav ul li li a:before{
     content:"- "
 }
  .mega-col{
     width:100%
 }
}
