:root {
  --red: #FF3131;
  --gray: #6e6e6e;
  --darkgray: #2b2b2b;
  --lightgray: #f2f2f2;
}
/* .header-container {
  display: flex;
}
*/

/* globals */

.mb0 {
  margin-bottom: 0;
}

.padding-top {
  padding-top: 100px;
}
.padding-bottom {
  padding-bottom: 100px;
}
.padding-top-big {
  padding-top: 140px;
}
.padding-bottom-big {
  padding-bottom: 140px;
}
.pl90 {
  padding-left: 90px;
}
.pr90 {
  padding-right: 90px;
}

.margin-top {
  margin-top: 115px;
}

.margin-bottom {
  margin-bottom: 115px;
}

.nav-spacing {
  padding-top: 240px;
}
*, *:before, *:after {
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
  margin:0;
  padding:0;
  font-family: 'Roboto', sans-serif !important;
 }
 body{
  background:#fff;
  font-size:16px;
  overflow-x: hidden;
 }

 body, html {
  scroll-behavior: smooth;
 }
 

 .fullscreen-video-section {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

#background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h1, h2, h3, h4, h5, h6, p, a, span {
  color: #2B2B2B;
}
h1 {
  margin-bottom: 20px;
  line-height: 1.2;
  font-size: clamp(30px, 4vw, 60px);
  font-weight: 900;
}
h2 {
  margin-bottom: 15px;
  line-height: 1.2;
  font-size: 48px;
  font-weight: 900;
}
.text-center {
  text-align: center;
}
h3 {
  margin-bottom: 15px;
  line-height: 1.2;
  font-size: clamp(20px, 3vw, 24px);
  font-weight: 900;
}
p, .eyebrow {
  margin-bottom: 15px;
  line-height: 1.5;
}
p:not(.hero p) {
  color: #2B2B2B;
}

ul li:not(#header ul li) {
  line-height: 1.5;
}
.par-20  {
  font-size: 20px;
}
button {
  cursor: pointer;
}
.bg-lightgray {
  background-color: var(--lightgray);
}
.z0 {
  position: relative;
  z-index: 0;
}
.eyebrow {
  text-transform: uppercase;
  font-weight: 400;
}
.max-width {
  max-width: 1400px;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}



.row-flex {
  display: flex;
}

.grid-col2 {
  display: grid;
  grid-gap: 90px;
}

img {
  width: 100%;
  max-width: 100%;
}

.jcc {
  display: flex;
  justify-content: center;
}

.width-45 {
  width: 45%;
}

.width-50 {
  width: 50%;
}

.width-55 {
  width: 55%;
}

.text-red {
  color: var(--red);
}
/* hero */
.hero {
  height: 100vh;
  max-height: 900px;
  min-height: 820px;
  position: relative;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(315deg, rgba(0, 0, 0, 0.74) 0%, rgba(0, 0, 0, 0.74) 74%);
}

.hero-content {
  position: relative;
  z-index: 5;
  max-width: 90%;
  margin-top: 45px;
  margin-left: auto;
  margin-right: auto;
}
.hero-subtext {
  font-size: 20px;
  font-weight: 300;
  max-width: 80%;
}
.btn-group {
  display: flex;
  column-gap: 30px;
}
.hero .btn-group {
  margin-top: 30px;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 2px solid var(--red);
  padding: 14px 20px;
  min-width: 200px;
  max-width: 230px;
  max-height: 50.4px !important;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  position: relative;
  overflow: hidden; 
  transition: all 0.3s ease;
}
.btn:hover {
  background-color: var(--darkgray);
  border-color: var(--darkgray);
  padding-right: 30px; 
  color: #fff;
}
.btn-red {
  background-color: var(--red);
  color: #fff;
}

.btn-transparent {
  background-color: transparent;
}
.btn-transparent:hover {
  border-color: var(--red);
  background-color: var(--red);
}
.btn-light {
  background-color: #fff;
  color: #2B2B2B;
  border: 2px solid #fff;
}



.arrow-span ion-icon {
  transform: translateX(-10px);
  opacity: 0;
  font-size: 0;
  color: #fff !important;
  transition: opacity 0.3s, transform 0.3s;
}

.btn:hover .arrow-span ion-icon {
  font-size: 22px;
  opacity: 1;
  transform: translateX(20px);
}

/* subhero */

.global-subhero {
  height: auto;
  min-height: 540px;
  position: relative;
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.global-subhero:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(315deg, rgba(0, 0, 0, 0.74) 0%, rgba(0, 0, 0, 0.74) 74%);
}

.subhero-content {
  position: relative;
  z-index: 5;
  max-width: 90%;
  margin-top: 160px;
  margin-left: auto;
  margin-right: auto;
}

.roofing-subhero {
  background-image: url(./img/house.webp);
}

/* about */

.about {
  position: relative;
  z-index: 1;
}

.about-flex {
  display: flex;
  align-items: center;
  column-gap: 90px;
  padding-top: 20px;
}

.about-text p:first-of-type {
  font-size: 20px;
}



.about img {
  max-height: 500px;
  object-fit: cover;
}

.about .img-container {
  max-height: 500px;
}

.about .img-container:before {
  content: '';
  background: url(./img/good.webp);
  display: block;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: -20px;
  right: 20px;
  z-index: -1;
}
.about .img-container:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: -20px;
  right: 20px;
  background: var(--red);
  opacity: .9;
  z-index: -1;
}

/* about page */

.about-centered .max-width {
  max-width: 1000px;
}

.about-centered img {
  object-fit: cover;
  box-shadow: 0 14px 45px rgba(0, 0, 0, 0.1);
}

.about-centered p:first-of-type {
  max-width: 925px;
  margin-left: auto;
  margin-right: auto;
}

.about-centered p:last-of-type {
  max-width: 775px;
  margin-left: auto;
  margin-right: auto;
}

.about-centered .img-container {
  height: 275px;
  margin-bottom: 72px;
}

.about-centered .img-container:before {
  content: '';
  background: url(./img/good.webp);
  display: block;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: -20px;
  right: -20px;
  z-index: -1;
}
.about-centered .img-container:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: -20px;
  right: -20px;
  background: var(--red);
  opacity: .9;
  z-index: -1;
}

.about-centered .img-container {
  background: url(./img/about-img.webp);
  background-size: cover;
  background-position: center center;
}

.team-grid {
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  grid-gap: 60px;
  padding-top: 30px;
}

.team-grid-item {
  background-color: #fff !important;
  box-shadow: 0 14px 45px rgba(0, 0, 0, 0.1618);
  padding: 20px;
  position: relative;
}

.team-grid-item:after {
  content: '';
  position: absolute;
  right: -10px;
  bottom: -10px;
  background-color: var(--red);
  width: 38.19%;
  height: 38.19%;
  z-index: -1;
}

.team-grid .decoration-line-flex {
  display: none;
}

.team-grid-item img {
  width: 140px;
  height: 140px;
  object-fit: cover;
}

.tgi-top {
  display: flex;
  align-items: center;
  column-gap: 30px;
}

.tgi-top p:last-of-type {
  margin-bottom: 0;
}

.tgi-top .name {
  font-size: 18px;
  font-weight: 900;
  margin-bottom: 5px;
}

.tgi-top .title {
  
}

/* services */
.services h3 {
  font-size: 36px;
}
.service-item img {
  width: 100%;
}
.service-item.img-right .img-container {
  background: url(./img/roof.webp);
  background-size: cover;
  background-position: center center;
}
.service-item.img-left .img-container {
  background: url(./img/pipe.webp);
  background-size: cover;
  background-position: center center;
}
.service-item {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-gap: 90px;
}
.img-container {
  position: relative;
}
.service-item.img-right .img-container:before {
  content: '';
  background: url(./img/good.webp);
  display: block;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: -20px;
  left: 20px;
  z-index: -1;
}
.service-item.img-right .img-container:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: -20px;
  left: 20px;
  background: var(--red);
  opacity: .9;
  z-index: -1;
}
.service-item.img-left .img-container:before {
  content: '';
  background: url(./img/good.webp);
  display: block;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: -20px;
  left: -20px;
  z-index: -1;
}
.service-item.img-left .img-container:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: -20px;
  left: -20px;
  background: var(--red);
  opacity: .9;
  z-index: -1;
}
/* .service-item.img-right img {
  box-shadow: -9px 14px 45px rgba(0, 0, 0, 0.21) !important;
}
.service-item.img-left img {
  box-shadow: 9px 14px 45px rgba(0, 0, 0, 0.21);
}
*/
.service-item:first-of-type {
  padding-top: 30px;
  padding-bottom: 100px;
}
/* .service-item-img {
  width: 100%;
  background-size: cover;
  background-position: center center;
}
.service-item-img.roofs {
  background-image: url(img/roof.webp);
}
.service-item-img.gutters {
  background-image: url(img/gutters.webp);
}
*/
.service-item:nth-child(even) .img-container {
  order: 1 !important;
}
.lines-left, .lines-right {
  position: relative;
}
.lines-left:before {
  content: '';
  position: absolute;
  background: var(--red);
  width: 50px;
  height: 2.5px;
  left: -79px;
  top: 20px;
}
.lines-left:after {
  content: '';
  position: absolute;
  background: var(--red);
  width: 31px;
  height: 2.5px;
  left: -60px;
  top: 29px;
}
.lines-right:before {
  content: '';
  position: absolute;
  background: var(--red);
  width: 50px;
  height: 2.5px;
  right: -79px;
  top: 20px;
}
.lines-right:after {
  content: '';
  position: absolute;
  background: var(--red);
  width: 31px;
  height: 2.5px;
  right: -60px;
  top: 29px;
}
.btn-topspacing {
  margin-top: 38px;
}
/* values */
.values .col-3 {
  margin-top: -100px;
}
.col-3 {
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  grid-gap: 45px;
}
.values .col3-col {
  background-color: #fff;
  padding: 30px;
  box-shadow: 0 14px 45px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 2;
}
.values ion-icon {
  color: var(--red);
  font-size: 38px;
}
.values .col3-col {
  display: flex;
  flex-flow: column;
  align-items: center;
}
.values .col3-col * {
  text-align: center;
}
.values .col-3 h3 {
  margin-top: 20px;
}
.decoration-line-flex {
  display: flex;
  justify-content: center;
}
.decoration-line {
  width: 72%;
  background-color: var(--red);
  height: 9px;
  position: absolute;
  top: -9px;
}
.values .icon-container {
  background-color: #ebebeb;
  width: 72px;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

/* quotes */

.quotes {
  margin-top: 30px;
}

.quotes .icon-container {
  background-color: #fff;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.21);
  border-radius: 50%;
}

.quotes .icon-container img {
  width: 45px;
}

.quotes .eyebrow {
  padding-top: 45px;
  padding-bottom: 10px;
}

.icon-moveup {
  position: relative;
  top: -45px;
}

/* slider */

.slider-container {
  position: relative;
  width: 100%;
  padding-bottom: 60px;
  overflow: hidden;
}


.slides {
  display: flex;
  transition: all 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
  box-sizing: border-box;
}

.slide:not(.slide.active) {
  opacity: 0;
  transition: all 0.618s ease-in-out;
}

.slide.active {
  opacity: 1 !important;
  transition: all 0.618s ease-in-out;
}

.slide {
  min-width: 100%;
  box-sizing: border-box;
}

.quote {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-bottom: 20px;
  font-size: 36px;
  font-weight: 900;
  line-height: 1.4;
  margin-bottom: 0;
}

.dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.dot {
  width: 12px;
  height: 12px;
  background-color: var(--gray);
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.dot.active {
  background-color: var(--red);
}

/* contact */

.contact-flex {
  display: flex;
  justify-content: space-between;
  column-gap: 90px;
}

.contact form {
  position: relative;
  transition: all 0.5s ease-in-out;
  box-shadow: none;
}

.contact form:hover {
  transform: scale(1.04);
  box-shadow: 0 14px 65px rgba(0, 0, 0, 0.5);
}

.contact form .decoration-line {
  width: 72%;
}

.contact form:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-image: linear-gradient(315deg, rgba(0, 0, 0, 0.83) 0%, rgba(0, 0, 0, 0.83) 74%), url('/SupremeContracting-Website/img/hero-img.webp');
}

.contact form input, .contact form button, .contact form textarea {
  position: relative;
  z-index: 2;
}

.contact form textarea {
  margin-top: 20px;
  margin-bottom: 24.25px;
  width: 100%;
}

.contact form button {
  min-width: 100%;
  font-size: 20px;
}

.contact form input, .contact form textarea {
  padding: 14px;
}

.contact input, .contact textarea {
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 0;
  width: 100%;
}

.contact input::placeholder, .contact textarea::placeholder {
  color: var(--darkgray);
  font-size: 16px;
  font-weight: 500;
}

.contact form {
  background-color: var(--darkgray);
  padding: 45px;
}

.contact .form-group .form-row {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-gap: 20px;
}

/* roofing page */



.scrolling-sidebar {
  width: 30%;
}

.roofing-items {
  width: 70%;
}

.scrolling-sidebar div {
  position: sticky;
  width: 100%;
  top: 140px;
  display: flex;
  flex-flow: column;
  background-color: #fff;
  box-shadow: 0 14px 45px rgba(0, 0, 0, 0.113);
  padding: 30px;
}

.active-sidebar-link {
  color: var(--red);
  /*
  border-bottom: 1px solid var(--red) !important;
  */
}

.scrolling-sidebar div a {
  width: fit-content;
  margin-bottom: 15px;
  padding-bottom: 5px;
  font-size: 18px;
  font-weight: 700;
  transition: all 0.3s ease;
  border-bottom: 1px solid transparent;
}

.scrolling-sidebar div a:hover {
  color: var(--red);
}

.roofing-item hr {
  border-top: 1px solid #d1d1d1;
  background-color: transparent;
  color: transparent;
  margin-top: 65px;
}

.scrolling-sidebar div a:last-of-type {
  margin-bottom: 0;
}

.roofing-item:not(.roofing-item:first-of-type) {
  padding-top: 54px;
}

#asphalt-shingles, #flat-roof-membranes, #specialty-roof-systems, #metal-roofs {
  scroll-margin-top: 79px;
}

.roofing-item img {
  height: 300px;
  object-fit: cover;
}

.roofing-item .img-container {
  height: 300px;
  margin-bottom: 45px;
}

.roofing-row-flex {
  column-gap: 90px;
  padding-top: 45px;
}

.roofing-items .img-container:before {
  content: '';
  background: url(./img/good.webp);
  display: block;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: -20px;
  right: -20px;
  z-index: -1;
}
.roofing-items .img-container:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: -20px;
  right: -20px;
  background: var(--red);
  opacity: .9;
  z-index: -1;
}

/* gutters and accordions */ 

.accordion-container {
  display: flex;
  flex-flow: row wrap;
  column-gap: 10px;
}

.accordion {
  cursor: pointer;
  user-select: none;
  width: 220px;
  margin-bottom: 10px;
}

.accordion-title {
  margin: 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-weight: 500;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-out;
}

.accordion.is-open .accordion-content {
  overflow: visible !important;
  margin: 15px 0;
}

.accordion-content ul li {
  list-style-type: none;
}

.accordion.is-open .accordion-title {
  border-color: var(--red);
}

.accordion.is-open .accordion-title span {
  color: var(--red);

}

.accordion-title, .accordion-title * {
  transition: all 0.3s ease;
}

.accordion.is-open .arrow {
  border-top-color: var(--red);
}

.accordion-content p, .accordion-content ul li {
  margin-bottom: 5px;
}

.accordion .arrow {
  width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 8px solid #000; /* Adjust color as needed */
        display: inline-block;
        transition: all 0.3s ease;
}

.gutters .btn-topspacing {
  margin-top: 15px;
}


/* asphalt shingles page */

.shingles-subhero {
  background-image: url(./img/shingle-roof.webp);
}

.roof-type-grid ul {
  padding-top: 10px;
}

.roof-type-grid ul li {
  display: grid;
  grid-template-columns: auto minmax(0, 1fr);
  list-style-type: none;
  font-weight: 500;
  color: #d1d1d1 !important;
  margin-bottom: 10px;
}

.shingles .img-right.good-shingles.img-container {
  background: url(./img/good-shingles.webp);
  background-size: cover;
  background-position: center center;
}
.shingles .img-left.better-shingles.img-container {
  background: url(./img/better-shingles.webp);
  background-size: cover;
  background-position: center center;
}
.shingles .img-right.supreme-shingles.img-container {
  background: url(./img/best-shingles.webp);
  background-size: cover;
  background-position: center center;
}



/*
.roof-type-grid .img-right .img-container {
  background: url(img/roof.webp);
  background-size: cover;
  background-position: center center;
}
.roof-type-grid .img-left .img-container {
  background: url(img/pipe.webp);
  background-size: cover;
  background-position: center center;
}
*/

.roof-type-grid ion-icon {
  font-size: 24px !important;
  color: var(--red);
}

.roof-type-grid ul li div {
  margin-left: 10px;
}

.roof-type-grid h3 {
  font-size: 36px;
}

.roof-type-grid .grid-col2 {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-gap: 90px;
}

/*
.roof-type-grid .grid-col2:not(.roof-type-grid .grid-col2:first-of-type) {
  padding-top: 100px;
}

.roof-type-grid .grid-col2:nth-child(odd) .img-container {
  order: 1;
}
*/

.roof-type-grid .img-left.img-container:before {
  content: '';
  background: url(./img/good.webp);
  display: block;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: -20px;
  right: 20px;
  z-index: -1;
}
.roof-type-grid .img-left.img-container:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: -20px;
  right: 20px;
  background: var(--red);
  opacity: .9;
  z-index: -1;
}

.roof-type-grid .img-right.img-container:before {
  content: '';
  background: url(./img/good.webp);
  display: block;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: -20px;
  right: -20px;
  z-index: -1;
}
.roof-type-grid .img-right.img-container:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: -20px;
  right: -20px;
  background: var(--red);
  opacity: .9;
  z-index: -1;
}



.roof-type-grid h3 {
  padding-bottom: 8.1px;
}

/* flat roof page */

.flat-roof-subhero {
  background-image: url(./img/house.webp);
}

.line-connectors-top, .line-connectors-bottom {
  display: flex;
  max-width: 62%;
  margin-left: auto;
  margin-right: auto;
}

.line-connectors-top div, .line-connectors-bottom div {
height: 80px;
width: 25%;
}

.line-connectors-top {
  margin-top: 20px;
}

.flex-reverse {
  flex-flow: row-reverse;
}

.line-connectors-top .border-right {
  border-right: 1px solid var(--red);
}

.line-connectors-bottom .border-top.border-left {
  border-left: 1px solid var(--red);
  border-top: 1px solid var(--red)
}

.line-connectors-bottom .border-top {
  border-top: 1px solid var(--red)
}

.line-connectors-bottom .border-right {
  border-right: 1px solid var(--red);
}

.line-connectors-top .border-left {
  border-left: 1px solid var(--red);
}

.flat-roofs .img-right.flat-roof-tpo.img-container {
  background: url(./img/flat-tpo.webp);
  background-size: cover;
  background-position: center center;
}
.flat-roofs .img-left.flat-roof-epdm.img-container {
  background: url(./img/flat-epdm.webp);
  background-size: cover;
  background-position: center center;
}
.flat-roofs .img-right.flat-roof-torch.img-container {
  background: url(./img/flat-torch.webp);
  background-size: cover;
  background-position: center center;
}
.flat-roofs .img-left.flat-roof-selfadhere.img-container {
  background: url(./img/flat-selfadhere.webp);
  background-size: cover;
  background-position: center center;
}



.roof-type-grid .col-img-right .img-container {
  order: 1 !important;
}

/* specialty roofs page */

.specialty-roof-subhero {
  background-image: url(./img/house.webp);
}

.specialty-roofs .img-right.specialty-handsplit.img-container {
  background: url(./img/speciality-handsplit-cedar.webp);
  background-size: cover;
  background-position: center center;
}
.specialty-roofs .img-left.specialty-tapersawn.img-container {
  background: url(./img/specialty-tapersawn-cedar.webp);
  background-size: cover;
  background-position: center center;
}
.specialty-roofs .img-right.specialty-slate.img-container {
  background: url(./img/specialty-synthetic-slate.webp);
  background-size: cover;
  background-position: center center;
}
.specialty-roofs .img-left.specialty-natural.img-container {
  background: url(./img/specialty-natural-slate.webp);
  background-size: cover;
  background-position: center center;
}

/* footer */

footer {
  background-color: var(--lightgray);
  padding-top: 90px;
}

footer .logo-col {
  max-width: 200px;
}

.footer-flex {
  display: flex;
  justify-content: space-between;
  padding-bottom: 90px;
}

.footer-col {
  display: flex;
  flex-flow: column;
}

.logo-col a {
  font-size: 18px;
  line-height: 1.4;
  display: flex;
  align-items: center;
}

.logo-col p {
  font-size: 18px;
  font-style: italic;
  padding-top: 10px;
}

.logo-col ion-icon {
  font-size: 30px;
  margin-right: 10px;
}

.logo-col div {
  padding-top: 30px;
  display: flex;
  flex-flow: column;
}

.footer-col a {
  margin-bottom: 9px;
  transition: all 0.3s ease;
  border-bottom: 1px solid transparent;
  max-width: fit-content;
  padding-bottom: 2px;
}

.footer-col a:hover {
  color: var(--red);
  /*
  border-bottom: 1px solid var(--red);
  */
}

footer h4 {
  font-size: 22px;
  margin-bottom: 18px;
}

.footer-copyright-container {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #e1e1e1;
}

.footer-copyright p {
  margin-bottom: 0;
  text-align: center;
}

.mobile-footer-logo {
  display: none;
}


/* navbar */
.top-nav {
  position: fixed;
  width: 100%;
  height: 54px;
  top: 0;
  left: 0;
  background-color: #fff;
  transition: all 0.4s ease;
  z-index: 99999;
}
.top-nav-flex {
  height: 54px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 45px;
}
.top-nav-link {
}
.nav-scrolling {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1) !important;
  /*
  top: 0 !important;
  border-top: none !important;
  */
}

.top-nav p {
  font-size: 18px;
  font-style: italic;
  color: #555 !important;
  margin-bottom: 0;
}
/*
.topnav-scrolling {
  top: -54px;
}
*/

.top-nav ion-icon {
  font-size: 24px;
}

ion-icon {
  color: var(--red);
}

.top-nav a {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.text-light *:not(.btn, .text-red) {
  color: #e5e5e5 !important;
}
.text-dark *:not(.btn, .text-red, ion-icon) {
  color: var(--darkgray);
}

.hide {
  display: none !important;
}

a{
 text-decoration:none;
}
#header a, .top-nav a {
  color: var(--darkgray) !important;
}
#header{
 background:#fff;
 width:100%;
 position:relative;
  padding: 10px 0;
  position: fixed;
  top: 54px;
  box-shadow: none;
  transition: top 0.4s ease, padding 0.4s ease;
  border-top: 0.1px solid #e5e5e5;
  z-index: 999999999;
}
.header-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* #header:after{
 content:"";
 clear:both;
 display:block
}
*/
.search{
 float:right;
 padding:30px
}
input{
 border:none;
 padding:10px;
 border-radius:20px
}

nav{
 float:right;
}
nav>ul{
 float:left;
 position:relative
}
nav li{
 list-style:none;
 float:left
}
nav .dropdown{
 position:relative
}
nav li a{
 padding:10px 20px;
 position: relative;
 z-index: 5;
}

nav li a:not(.dropdown ul li a):after {
  width: 100%;
  display: block;
  content: "";
  border-bottom: solid 3px var(--red);
  transform: scaleX(0);
  bottom: 1px;
  transform-origin: 50% 50%;
  position: absolute;
  transition: transform 0.3s ease;
}

nav li a:not(.dropdown ul li a):hover:after {
  transform: scaleX(1);
}

nav li li a{
 float:none;
 color:var(--darkgray);
 display:block;
 padding:8px 10px;
 border-radius:3px;
 font-size:13px
}
nav li li a:hover{
 background:#bdc3c7;
 background:#FAFBFB
}
nav li a:not(.dropdown ul li a) {
  font-weight: 700;
  text-transform: uppercase;
}
nav li ul{
 display:none
}
nav li:hover ul{
 display:inline
}
nav li li{
 float:none
}

nav .dropdown ul{
  position:absolute;
  left:0;
  top: 30px !important;
  top:100%;
  background:#fff;
  box-shadow: 0 5px 24px rgba(0, 0, 0, 0.1);
  padding:15px 0 10px 0;
}
nav .dropdown li{
 white-space:nowrap
}
nav .dropdown li a{
 padding:10px 20px;
 font-size:14px;
 min-width:200px
}
nav .mega-dropdown{
 width:100%;
 position:absolute;
 top:100%;
 left:0;
 background:#fff;
 overflow:hidden;
 padding:20px 35px;
 border-bottom:3px solid #34495e
}
.mega-col{
 width:25%;
 float:left
}
#menu-icon{
 position:absolute;
 right:0;
 top:50%;
 margin-top:-12px;
 margin-right:30px;
 display:none
}
#menu-icon span{
 border:2px solid var(--darkgray);
 width:30px;
 margin-bottom:5px;
 display:block;
 -webkit-transition:all .2s;
 transition:all .1s
}
.logo img {
  max-width: 250px;
}

/* nav queries */

@media only screen and (min-width: 993px) {
  nav{
     display:block!important
 }

 
}
@media only screen and (max-width: 992px) {
  #header, .nav-scrolling {
      transition: all 0.4s ease;
 }
  .header-flex {
      flex-flow: column;
      align-items: flex-start;
 }

 nav li a:not(.dropdown ul li a):after {
  display: none;
 }
 
  nav{
     display:none;
     width:100%;
     clear:both;
     float:none;
     max-height:400px;
     overflow-y:scroll
 }
  #menu-icon{
     display:inline;
     top:45px;
     cursor:pointer
 }
  #menu-icon.active .first{
     transform:rotate(45deg);
     -webkit-transform:rotate(45deg);
     margin-top:10px
 }
  #menu-icon.active .second{
     transform:rotate(135deg);
     -webkit-transform:rotate(135deg);
     position:relative;
     top:-9px;
 }
  #menu-icon.active .third{
     display:none
 }
  .search{
     float:none
 }
  .search input{
     width:100%
 }
  nav{
     padding:10px
 }
  nav ul{
     float:none
 }
  nav li{
     float:none
 }

 nav .dropdown ul {
  box-shadow: none !important;
 }

  nav ul li a{
     float:none;
     padding:8px;
     display:block
 }
  #header nav ul ul{
     display:block;
     position:static;
     background:none;
     border:none;
     padding:0
 }
  #header nav a{
     color:#fff;
     padding:8px
 }
  #header nav a:hover{
     background:#fff;
     color:var(--darkgray);
     border-radius:3px
 }
 /*
  #header nav ul li li a:before{
     content:"- "
 }
 */
  .mega-col{
     width:100%
 }
}

/* queries */

@media screen and (max-width: 1300px) {
  .tgi-top img {
    width: 100px;
    height: 100px;
  }
}

@media screen and (max-width: 1200px) {

  .team-grid-item:after {
    display: none;
  }

  .team-grid-item .decoration-line-flex {
    display: flex;
  }

  .team-grid-item {
    padding: 30px;
  }

  .tgi-top {
    flex-flow: column;
    align-items: center;
  }

  .tgi-top * {
    text-align: center;
  }

  .tgi-top img {
    width: 140px;
    height: 140px;
    margin-bottom: 15px;
  }

  .quote {
    font-size: 30px;
  }
  
  .shingles h3 {
    margin-bottom: 5px;
  }
}

@media screen and (max-width: 1080px) {
  .grid-col2, .service-item {
    grid-gap: 60px !important;
  }

  .roofing-row-flex {
    column-gap: 60px;
  }

  .scrolling-sidebar div a {
    font-size: 16px;
  }
  
}

@media screen and (max-width: 992px) {
  
  .scrolling-sidebar {
    width: 35%;
  }

  .team-grid {
    grid-template-columns: repeat(2, 2fr);
    grid-gap: 45px;
  }

  .wrap-grid-1080 {
    grid-template-columns: repeat(1, 1fr) !important;
  }
  .wrap-grid-1080 .img-container {
    order: unset !important;
  }
  .shingles .grid-col2 .img-container, .shingles .grid-col2 img {
    height: 300px;
  }
  .shingles .img-left.img-container:before {
    bottom: -20px;
    right: -20px !important;
  }
  .shingles .img-left.img-container:after {
    bottom: -20px;
    right: -20px !important;
  }

  .col-3, .service-item {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 60px;
  }

  .img-left .img-container:after, .img-left .img-container:before {
    left: 20px;
  }
  
  .contact-flex, .about-flex {
    flex-flow: column;
  }
  .about img {
    margin-bottom: 45px;
    height: 300px;
  }
  .about .img-container {
    max-height: 300px;
    margin-bottom: 60px;
  }
  .width-45, .width-50, .width-55 {
    width: 100%;
  }
  .contact form {
    margin-top: 45px;
  }
  .service-item:nth-child(even) .img-container, .grid-col2:nth-child(odd) .img-container {
    order: unset !important;
  }
  .line-connectors-top, .line-connectors-bottom {
    display: none !important;
  }
  .grid-col2:not(.grid-col2:last-of-type) {
    padding-bottom: 100px;
  }
  .img-container {
    height: 300px;
  }
  .col-3 .col3-col {
    padding: 90px 140px;
  }
  .hero-content, .subhero-content {
    max-width: unset;
    padding: 72px 0;
  }

  .hero-subtext {
    max-width: unset;
  }

  footer .logo-col {
    display: none;
  }

  .mobile-footer-logo {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .mobile-footer-logo img {
    width: 500px;
  }
  
  .footer-flex {
    padding-top: 90px;
  }
}

@media screen and (max-width: 900px) {
  .roofing-row-flex {
    flex-flow: column;
  }

  .roofing-row-flex div {
    width: 100%;
  }

  .scrolling-sidebar {
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 768px) {
  .max-width {
    width: 90%;
  }
  .footer-flex {
    flex-flow: row wrap;
  }
  .footer-col {
    width: 50%;
  }
  .footer-col:nth-child(1), .footer-col:nth-child(2) {
    margin-bottom: 30px;
  }
  .col-3 .col3-col {
    padding: 60px;
  }
  .hero {
    min-height: unset;
    max-height: unset;
    height: auto !important;
    padding-top: 120px;
    padding-bottom: 140px;
  }

  .quote {
    font-size: 26px;
  }

  .hero video {
    display: none !important;
  }

  .hero {
    background-image: url(./img/hero-img.webp);
  background-size: cover;
  background-position: center center;
  }

  .about-centered p:first-of-type {
    max-width: 100%;
    
  }
  
  .about-centered p:last-of-type {
    max-width: 100%;
    
  }

  .top-nav p {
    font-size: 16px;
  }

  .top-nav-flex {
    column-gap: 20px;
  }
  
}

@media screen and (max-width: 576px) {

  .img-container, .img-container:before, .img-container:after, .img-container img {
    height: 200px !important;
  }

  .padding-top-big {
    padding-top: 100px;
  }

  .padding-bottom-big {
    padding-bottom: 100px;
  }

  .lines-left:before {
    display: none;
  }
  .lines-left:after {
    display: none;
  }
  .lines-right:before {
    display: none;
  }
  .lines-right:after {
    display: none;
  }

  .top-nav p {
    display: none;
  }

  .par-20, .hero-subtext {
    font-size: 16px !important;
  }
  
  .team-grid {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 60px;
  }

  .footer-col:nth-child(1), .footer-col:nth-child(2) {
    margin-bottom: unset;
  }
  .footer-col:not(.footer-col:last-of-type) {
    margin-bottom: 30px;
  }
  .footer-col {
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
  }
  .mobile-footer-logo img {
    width: 280px;
  }
  .footer-flex {
    padding-top: 45px;
  }

  .quote {
    font-size: 20px;
  }
  .hero .btn-group {
    flex-flow: column;
  }
  .hero .btn-transparent {
    margin-top: 20px;
  }
  .col-3 .col3-col {
    padding: 45px;
  }
  h2 {
    font-size: 36px;
  }
  
  .top-nav ion-icon {
    font-size: 20px;
  }
  .img-container {
    margin-right: 15px;
  }

  .img-container:before, .img-container:after {
    bottom: -10px !important;
    left: 10px !important;
    right: -10px !important;
  }
  .services h3 {
    font-size: 24px;
  }
}

@media screen and (max-width: 420px) {
  .col-3 .col3-col {
    padding: 30px;
  }

  .logo img {
    max-width: 175px;
  }

  #menu-icon {
    top: 38px;
    transition: top 0.4s ease;
  }

  .nav-scrolling #menu-icon {
    top: 30px;
  }
}

@media screen and (max-width: 360px) {
  .col-3 .col3-col {
    padding: 20px;
  }
}